@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--bg-color: #333940;
	--header-heading-color: rgb(232, 102, 236);
	--header-text-color: #ffffff;
	--card-header-color: rgb(232, 102, 236);
	--card-header-bg-color: #333940;
	--card-text-color: rgb(232, 102, 236);
	--card-code-color: #ffffff;
	--card-border-color: #ffffff;
	--card-header-border-color: #ffffff;
	--footer-text-color: rgb(232, 102, 236);

	-tablet-width: ;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	font-family: Muli, 'Arial', 'sans-serif';
	padding: 10px;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* header */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: 50px auto;
	max-width: 768px;
}

header h1 {
	margin: 0 auto 10px auto;
	font-size: 27px;
	color: var(--card-header-color);
}
header p {
	font-size: 12px;
	color: var(--header-text-color);
	margin: 0px auto;
}

/* Flexbox Row */
section.row {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-evenly;
}

/* Flexbox Column */
article.code-card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	width: 28vw;
	border: 1px dashed white;
	margin: 20px 0;
	padding: 10px;
}

/* Box Transition Glow */
.code-card .card-header {
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
}
.code-card:hover,
.code-card:hover .card-header {
	box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

/* Linear Gradients */
.linear-gradient-background {
	background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
}

/* Overlay Card with Title */
.card-header {
	position: relative;
	margin-top: -40px;

	flex: 1;
	border: 1px solid var(--card-header-border-color);
	border-radius: 8px;
	padding: 3px 5px;
	background-color: var(--card-header-bg-color);
	color: var(--card-header-color);
	font-size: 20px;
	font-weight: bold;
}

.card-text {
	flex: 1;
	font-size: 12px;
	margin: 10px 0;
	color: var(--card-text-color);
}

.card-code {
	flex: 6;
	padding: 4px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

pre {
	white-space: pre-line;
	user-select: all;
}

code {
	color: var(--card-code-color);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--footer-text-color);
}

@media screen and (max-width: 991px) {
	section.row {
		width: 90vw;
	}
	article.code-card {
		width: 40vw;
	}
}
@media screen and (max-width: 768px) {
	section.row {
		width: 90vw;
	}
	article.code-card {
		width: 80vw;
	}
}
code::selection {
	background-color: #47cdb5;
}
