/* font from Google */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* custom variables */
:root {
	--bg-color: #333940;
	--header-heading-color: rgb(232, 102, 236);
	--header-text-color: #ffffff;
	--card-header-color: rgb(232, 102, 236);
	--card-header-bg-color: #333940;
	--card-text-color: rgb(232, 102, 236);
	--card-code-color: #ffffff;
	--card-border-color: #ffffff;
	--card-header-border-color: #ffffff;
	--footer-text-color: rgb(232, 102, 236);
}
/* universal selector */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* body is a flexbox with children header, main, footer */
body {
	font-family: Muli, 'Arial', 'sans-serif';
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--bg-color);
}
header {
	padding: 20px 0;
	margin: 0 5vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}
footer {
	padding: 20px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	color: var(--footer-text-color);
}
header h1 {
	margin: 0 auto 10px auto;
	font-size: 27px;
	color: var(--card-header-color);
}
header p {
	font-size: 12px;
	color: var(--header-text-color);
	margin: 0px auto;
}
/* Flexbox */
.row {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-evenly;
	align-content: space-evenly;
}
/* Flexbox Column */
.code-card {
	flex-basis: calc(90vw / 3); /* 10vw for gaps. Divide the remaining space by 3 */

	display: flex;
	flex-direction: column;
	align-items: stretch;

	border: 1px dashed white;
	padding: 10px;
	margin-top: 30px;
}
/* Effects */
.code-card .card-header {
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
}
.code-card:hover,
.code-card:hover .card-header {
	box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}
/* Linear Gradients */
.linear-gradient-background {
	background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
}
/* Overlay Card with Title */
.card-header {
	margin-top: -28px;
	border: 1px solid var(--card-header-border-color);
	border-radius: 8px;
	padding: 5px;
	background-color: var(--card-header-bg-color);
	color: var(--card-header-color);
	font-size: 20px;
	font-weight: bold;
}
.card-text {
	font-size: 12px;
	margin: 10px 0;
	color: var(--card-text-color);
}
.card-code {
	flex: 1;
	padding: 5px;
	border-radius: 8px;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
	white-space: pre-line;
	user-select: all;
	color: var(--card-code-color);
}
@media screen and (max-width: 991px) {
	.code-card {
		flex-basis: calc(90vw / 2); /* 10vw for gaps. Divide the remaining space by 2 */
	}
}
@media screen and (max-width: 768px) {
	.code-card {
		flex-basis: 90vw; /* 5vw on each side */
	}
}
pre::selection {
	background-color: #47cdb5;
}
